.form {
  width: 320px;
  margin: 0 auto;
  input {
    border-radius: 0;
  }
  a {
    text-decoration: none;
    color: black !important;
  }
  button {
    background-color: black;
    color: white;
    border-radius: 0;
    padding: 10px 20px;

    &:hover {
      background-color: black;
    }
  }

  .bold {
    font-weight: 700;
  }
}
